# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment
.env
.env.*
